// Preloader
.preloader-progress {
  background-image: none;
  width: 160px;
  overflow: hidden;
  h3 {
    margin: 0;
    opacity: .25;
    color: #fff;
    i {
      display: inline-block;
    }
  }
}



.preloader-progress-bar {
  background-image: none;
  overflow: hidden;
  h3 {
    color: #fff;
    opacity: 1;
  }
}

.topnavbar .navbar-header .navbar-brand {
  padding-top: 16px;
}

.navbar-brand {
  color: #fff;
  &:hover {
    color: #fff;
    opacity: .75;
  }
}